<h1>MY SHOUTS LMAO</h1>
<%# Button that does link_to("Create a show", new_shout_path) %>
<%# shout list, which does render @shouts %>
<%= form_for Shout.new do |f| %>
  <%= f.label :body %>
  <%= f.text_area :body %>
<% end %>


<ul class="shouts-list">
<%= render @shouts %>
</ul>
