<div id="chat-mockup">
	<div class="friends">
		<div>Thor</div>
		<div>Tony Stark</div>
		<div>Captain America</div>
		<div style="background-color:rgb(255, 153, 255);">Hulk</div>
		<div>Batman</div>
		<div>Superman</div>
		<div>Spiderman</div>
		<div>Black Widow</div>
	</div>
	<div class="chat">
		<div class="first">Hi Hulk. I was recently diagnosed with breast cancer and hoping that you could provide me with some advice. Do you have sometime?</div>
		<div class="second">Sure. Give me a second to gather some information for you</div>
	</div>
<div>