<div id="chat-mockup">
	<div class="friends">
		<div>Thor</div>
		<div>Tony Stark</div>
		<div>Captain America</div>
		<div style="background-color:rgb(255, 153, 255);">Hulk</div>
		<div>Batman</div>
		<div>Superman</div>
		<div>Spiderman</div>
		<div>Black Widow</div>
	</div>
	<div class="chat">
		<div class="first">Hi Hulk. I noticed that we had a similar diagnosis and I was wondering how the chemotherapy process was?</div>
		<div class="second">Hey, I see that we're both from the Columbus area. I would highly recommend the James Cancer Center for chemotherapy. It was certainly a friendly experience.</div>
	</div>
	<div class="text_field">
		Type text here...
	</div>
<div>