<h1>Resources</h1>
<div class="container_res">
    <div>
        <h2>Breast Care Helpline</h2>
        <p>If you or a loved one needs more information about breast health or breast cancer, call our breast care helpline at 1-877 GO KOMEN (1-877-465-6636).  All calls are answered by a trained and caring staff member in English and Spanish, Monday through Friday from 9:00 a.m. to 10:00 p.m. ET. You can also email the breast care helpline at helpline@komen.org.</p><br>
        <p><a href="http://ww5.komen.org/BreastCancer/hq1800.html">Learn more</a></p>
    </div>
    <div>
        <h2>National Treatment Assistance Program</h2>
        <p>See the national organizations we help fund to assist medically underserved individuals undergoing breast cancer treatment.</p><br>
        <p><a href="http://ww5.komen.org/WhatWeDo/IntheCommunity/NationalCommunityHealthPrograms/NationalCommunityHealthPrograms.html">Learn more</a></p>
    </div>
    <div>
        <h2>Interactive Learning</h2>
        <p>Find the Breast Cancer 101 interactive tool and the Treatment Navigation tool for newly diagnosed patients.</p><br>
        <a href="http://ww5.komen.org/AboutBreastCancer/ToolsandResources/InteractiveLearning/InteractiveLearning.html">Learn more</a></p>
    </div>
    <div>
        <h2>Komen Educational Materials</h2>
        <p>Download free PDFs of Komen educational materials.</p><br>
        <p><a href="http://ww5.komen.org/BreastCancer/FactsForLife.html">Learn more</a></p>
    </div>
</div>
