<h1><%= @user.handle %></h1>
<ul class="user-shouts">
  <% @user.shouts.each do |shout| %>
    <li class="user-shout">
      <div class="message">
        <%= shout.body %>
      </div>
      <div class="shout-bottom-bar">
        <%= time_ago_in_words shout.created_at %>
      </div>
    </li>
  <% end %>
</ul>
