$header-height:  40px;
$footer-height: 60px;

.container {
  display: flex;
  font-size: 24px;
  div {
    flex-grow: 1;
    border-color: black;
    border-style: solid;
    border-right-width: 1px;
    border-left-width: 0px;
    text-align: center;
    line-height: $footer-height;
    &:first-of-type {
      border-left-width: 1px;
      border-right-width: 1px;
    }
    border-top: 0;
    border-bottom: 0;
    height: $footer-height;
  }
}

#space-between {
  justify-content: space-between;
}

#main-header {

  a {
    color: white;

    &:hover {
      color: white;
      text-decoration: none;
    }
  }

  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;


  h1 {

    margin: none;
    color: white;
    font-size: 25px;
    vertical-align: middle;
  }

  height: $header-height;
  position: fixed;
  width: 100vw;
  top: 0;
  right: 0;
  left: 0;
  background-color: black;
  overflow: hidden;
}

#main-footer {
  position: fixed;
  height: $footer-height;
  width: 100vw;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #bfbfbf;
  overflow: hidden;
}

#masthead {
  margin-top: $header-height;
  margin-bottom: $footer-height;
  overflow-y: auto;
  height: calc(100vh - #{$header-height} - #{$footer-height});
}


