.container_res {
    display: flex;
        div {
        width: 50%;
        background-color: #ffe6ff;
        border: 1px solid black;
        border-radius: 8px;
        text-align: center;
        margin: 15px 15px;
    }
}


