.user-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;

  h1 {
    width: 60%;
  }
}

.user-id {
  width: 20%;
}

.userbar-right {
  width: 20%;
}

.user-shouts {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
