<!--<h1>Komenity bottom bar</h1>-->
<div class="container" id="space-between">
    <div>Home</div>
    <div>Events</div>
    <div><a href="Resources</div>
    <div>Chat</div>
    <div>Menu</div>
</div>
