<!--<h1>Komenity bottom bar</h1>-->
<div class="container" id="space-between">
    <div><%= link_to "Home", root_path %></div>
    <div>Events</div>
    <div><%= link_to("Resources", resources_path) %></div>
    <div><%= link_to("Chat", chat_mockup_path) %></div>
</div>
